<h1>Payment Calculation</h1>

<form action ="/payment/results">
  <div>
    <label for="aprvalue">
      APR
    </label>
    <input id="aprvalue" type="text" name="apr">
  </div>
  <div>
    <label for="yearsvalue">
      Number of years
    </label>
    <input id="yearsvalue" type="text" name="years">
  </div>
  <div>
    <label for="pvalue">
      Principal
    </label>
    <input id="pvalue" type="text" name="principal">
  </div>
  <button>
    Calculate monthly payment
  </button>
</form>

<a href="/payment/new">Go back home</a>
