<h1>Random Calculation</h1>

<form action ="/random/results">
  <div>
    <label for="minvalue">
      Minimum
    </label>
    <input id="minvalue" type="text" name="min">
  </div>
  <div>
    <label for="maxvalue">
      Maximum
    </label>
    <input id="maxvalue" type="text" name="max">
  </div>
  <button>
    Pick random number
  </button>
</form>

<a href="/random/new">Go back home</a>
