<h1>Random Calculation</h1>

<form action ="/random/results">
  <div>
    <label>
      Enter min
    </label>
    <input type="text" name="min">
  </div>
  <div>
    <label>
      Enter max
    </label>
    <input type="text" name="max">
  </div>
  <button>
    Pick random number
  </button>
</form>

<a href="/random/new">Go back home</a>
