<h1>Square Calculation</h1>

<form action ="/square/results">
  <div>
    <label for="value">
    Enter a number
  </label>
  <input id ="value" type="text" name="user_number">
</div>
  <button>
    Calculate square
  </button>
</form>

<a href="/square/new">Go back home</a>
